---
import { postService } from '@service/post'
import Post from '../component/Post.astro'

let list = postService.list();
---

<section class="mx-auto my-8 max-w-3xl">
  {list.map(post => <Post post={post} />)}
</section>
