---
import { postService } from 'src/service/post'

export async function getStaticPaths() {
  const categories = postService.getCategories()

  return categories.map(category => ({
    params: {
      id: category.id,
    },
  }))
}
---

<p>hello world</p>
