---
import MainLayout from '../layout/Main.astro'

import BaseHead from '../component/BaseHead.astro'
import PageHeader from '../component/PageHeader.astro'
import Footer from '../component/Footer.astro'

import Header from '../view/svelte/Header.svelte'
import PostList from '../view/svelte/PostList.svelte'

import { postService } from '@service/post'

import { SITE_TITLE, SITE_DESCRIPTION } from '@constant/app'

---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <PageHeader />
    <Header list={postService.getMenu()} client:load />
    <MainLayout>
      <PostList list={postService.list()} client:load />
    </MainLayout>
    <Footer />
  </body>
</html>
