---
import MainLayout from '../layout/Main.astro'

import BaseHead from '../component/BaseHead.astro'
import PageHeader from '../component/PageHeader.astro'
import Header from '../component/Header.astro'
import Footer from '../component/Footer.astro'

import { SITE_TITLE, SITE_DESCRIPTION } from '@constant/app'
import PostList from '@component/Post/List.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <PageHeader />
    <Header />
    <MainLayout>
      <PostList />
    </MainLayout>
    <Footer />
  </body>
</html>
