---
import MainLayout from '../layouts/Main.astro'

import BaseHead from '../component/BaseHead.astro'
import PageHeader from '../component/PageHeader.astro'
import Header from '../component/Header.astro'
import Footer from '../component/Footer.astro'

import Post from '../component/Post/Post.astro'

import { SITE_TITLE, SITE_DESCRIPTION } from '@constant/app'
import { postService } from '../service/post'

const posts = postService.list()
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <PageHeader />
    <MainLayout>
      <Header />
      <section>
        {posts.map(post => <Post post={post} />)}
      </section>
    </MainLayout>
    <Footer />
  </body>
</html>
