---
import { postService } from '@service/post'
import Post from './Post.astro'

const list = postService.list()
---

<section class="max-w-3xl mx-auto my-8">
  {list.map(post => <Post post={post} />)}
</section>
