---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '../FormattedDate.astro'

type Props = {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props
const date = post.data.date || post.data.pubDate
---

<a href={`/posts/${post.slug}/`}>
  <article>
    <div class="flex">
      <FormattedDate date={date!} />
      <span>{post.data.category}</span>
    </div>
    <h2>{post.data.title}</h2>
  </article>
</a>
