.content {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply mb-4 mt-12 font-bold before:contents before:text-main;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  table {
    min-width: 50%;
    margin: 16px auto;
    border-collapse: collapse;
    list-style: none;
    line-height: 1.5;
    text-align: center;
  }

  table tr {
    @apply font-bold;
  }

  table tr:nth-child(2n) {
    @apply bg-main/60;
  }

  table th,
  table td {
    min-width: 100px;
    padding: 8px;
    word-break: break-all;
  }

  table thead {
    background-color: #fafafa;
  }

  a {
    @apply relative text-main underline after:font-mono after:content-['↗'];
  }

  a:hover {
    @apply text-main/80;
  }

  i {
    @apply font-light;
  }

  blockquote {
    @apply mx-0 my-1 rounded-r-md border-l-4 border-main bg-main/10 px-6 py-1 text-gray-500 dark:text-gray-500;

    p {
      @apply my-1;
    }

    ul {
      @apply m-0;
    }
  }

  ul,
  ol {
    @apply leading-loose;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  :not(pre) code {
    @apply relative text-nowrap px-1 font-bold;

    &::after {
      content: '';
      @apply absolute right-0 top-2.5 -z-10 h-1/2 w-full bg-main/30;
    }
  }
}
