/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@tailwind components;

@layer components {
  .text-13xl {
    font-size: 16rem;
    line-height: 1;
  }
}

@font-face {
  font-family: 'AmericanCaptain';
  src: url('/fonts/AmericanCaptain.ttf');
  font-weight: 700;
  font-display: fallback;
  font-style: normal;
}

html {
  @apply bg-background/50 text-gray-800;
  @apply dark:bg-gray-950 dark:text-gray-300;
}

a {
  @apply text-gray-800 no-underline;
}
