---
import { Icon } from 'astro-icon/components'
---

<div class="flex gap-x-2">
  <a
    href="https://github.com/colmugx"
    target="_blank"
    class="p-1"
    aria-label="Link to GitHub profile"
    title="Visit my GitHub profile"
  >
    <Icon name="github-line" class="text-lg text-gray-800 dark:text-gray-300" />
  </a>
  <a
    href="https://www.zhihu.com/people/colmugx "
    target="_blank"
    class="p-1"
    aria-label="Link to Zhihu profile"
    title="Visit my Zhihu profile"
  >
    <Icon name="zhihu-fill" class="text-lg text-gray-800 dark:text-gray-300" />
  </a>
  <a
    href="https://twitter.com/colmugx"
    target="_blank"
    class="p-1"
    aria-label="Link to Twitter profile"
    title="Visit my Twitter profile"
  >
    <Icon name="twitter-x-line" class="text-lg text-gray-800 dark:text-gray-300" />
  </a>
  <a
    href="/rss.xml"
    target="_blank"
    class="p-1"
    aria-label="Link to RSS feed"
    title="Subscribe to my RSS feed"
  >
    <Icon name="rss-line" class="text-lg text-gray-800 dark:text-gray-300" />
  </a>
</div>
