---
import { SINCE } from '@constant/app'
import Contact from './Contact.astro'

const currentYear = new Date().getFullYear()
---

<footer aria-label="footer" class="bg-gray-50 p-4 dark:bg-gray-900/50">
  <div class="flex items-center justify-around">
    <div class="font-mono text-xs text-gray-500">
      <div class="flex flex-col gap-x-2">
        <div>
          <a
            class="leading-none text-main"
            href="https://github.com/colmugx/astro-theme-nlvi"
            aria-label="Link to Nlvi GitHub repository"
            title="Visit the Nlvi GitHub repository"
          >
            Nlvi
          </a>
          ♥️
          <a
            class="leading-none text-main"
            href="https://astro.build"
            target="_blank"
            rel="noopener"
            aria-label="Link to Astro website"
            title="Visit the Astro website"
          >
            Astro
          </a>
        </div>
        <div>
          <span>&copy;</span>
          <span>Colmugx | {SINCE} ~ {currentYear}</span>
        </div>
      </div>
    </div>
    <div>
      <Contact />
    </div>
  </div>
</footer>
