---
import HeaderLink from '../component/HeaderLink.astro'
import { DISPLAY_SITE_TITLE } from '@constant/app'
import { postService } from 'src/service/post'

const title = DISPLAY_SITE_TITLE.split('\n')

const categories = postService.getMenu()
---

<div class="relative mt-20 w-full">
  <div class="absolute left-0 right-0 top-0 -z-10 overflow-hidden">
    <h1
      class="text-[20vw] font-bold text-stroke-1 text-stroke-gray-100 text-stroke-fill-transparent"
    >
      {title.map(str => <span class:list={['block', 'even:ml-[2em]']}>{str}</span>)}
    </h1>
  </div>

  <nav class="relative flex justify-end gap-x-8 pt-56">
    {categories.map(item => <HeaderLink href={item.slug}>{item.title}</HeaderLink>)}
  </nav>
</div>

<style>
  h1 {
    font-family: AmericanCaptain;
  }
</style>
