---
import type { Category } from '../model/category'
import HeaderLink from '../component/HeaderLink.astro'
import { SITE_TITLE } from '@constant/app'
import { getCollection } from 'astro:content'

const categories = Array.from(
  new Set(
    (await getCollection('blog'))
      .map<Category>(item => ({
        id: item.data.category || '',
        title: item.data.category?.toUpperCase() || '',
      }))
      .filter(Boolean),
  ),
)

const title = SITE_TITLE.split('\n')
---

<div class="relative mx-36 mt-20">
  <h1
    class="text-stroke-fill-transparent text-stroke-1 text-stroke-gray-100 absolute top-0 text-[20vw] font-bold"
  >
    {title.map(str => <span class:list={['block', 'even:ml-[2em]']}>{str}</span>)}
  </h1>
  <nav class="relative pt-56">
    {categories.map(item => <HeaderLink href={`/categories/${item.id}`}>{item.title}</HeaderLink>)}
  </nav>
</div>

<style>
  h1 {
    font-family: AmericanCaptain;
  }
</style>
