---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')
---

<a href={href} class:list={['text-5xl', { active: isActive }]} {...props}>
  <slot />
</a>

<style>
  a {
    font-family: 'AmericanCaptain';
    @apply text-gray-300 font-bold;
  }
  a.active {
    @apply text-gray-800;
  }
</style>
