---
import { postService } from '../service/post'
import HeaderLink from './HeaderLink.astro'

const categories = postService.getMenu()

type Props = {
  mini?: boolean
}

const { mini } = Astro.props
---

<nav class:list={['flex items-center gap-x-4 h-full', mini ? 'ml-36' : 'relative mx-24 justify-end pt-56']}>
  {categories.map(item => <HeaderLink href={item.slug} class={mini ? 'text-xl' : 'text-5xl'}>{item.title}</HeaderLink>)}
</nav>
