---
import HeaderLink from './HeaderLink.astro'

export type TMenu = {
  title: string
  slug: string
  active?: boolean
}

type Props = {
  list: TMenu[]
  className?: string
  mini?: boolean
}

const { mini, className, list } = Astro.props
---

<nav
  class:list={[
    'flex h-full items-center gap-x-4',
    mini ? 'ml-36' : 'relative mx-24 justify-end pt-52',
    className,
  ]}
  aria-label="Menu"
>
  {
    list.map(item => (
      <HeaderLink isActive={item.active} href={item.slug} class={mini ? 'text-xl' : 'text-5xl'}>
        {item.title}
      </HeaderLink>
    ))
  }
</nav>
