---
import Menu, { type TMenu } from './Menu.astro'

const { pathname } = Astro.url
const isShow = pathname !== '/'

const list: TMenu[] = [
  {
    title: 'Posts',
    slug: '/',
  },
  {
    title: 'Tags',
    slug: '/tags',
  },
  {
    title: 'About',
    slug: '/about',
  },
]
---

<div class="rect fixed left-0 right-0 top-0 z-50 h-[52px] border-t-8 border-t-main">
  <Menu
    list={list}
    mini
    transition:name="sitemenu"
    className={isShow ? '' : 'opacity-0 transition-opacity hover:opacity-100'}
  />
</div>

<style>
  .rect {
    @apply before:absolute before:left-0 before:top-0 before:h-11 before:w-32 before:rounded-br-sm before:bg-main;
  }
</style>
