---
import Menu, { type TMenu } from './Menu.astro'

const { pathname } = Astro.url
const isShow = pathname !== '/'

const list: TMenu[] = [
  {
    title: 'Home',
    slug: '/',
  },
  {
    title: 'Archive',
    slug: '/archive/all',
  },
  // {
  //   title: 'About',
  //   slug: '/about',
  // },
]
---

<div
  aria-label="Page Header"
  aria-hidden={!isShow}
  class="rect fixed left-0 right-0 top-0 z-50 h-[52px] border-t-8 border-t-main bg-white/60 backdrop-blur-md dark:bg-gray-950/60"
>
  <Menu
    list={list}
    mini
    className={isShow ? '' : 'opacity-0 transition-opacity hover:opacity-100'}
  />
</div>

<style>
  .rect {
    @apply before:absolute before:left-0 before:top-0 before:h-11 before:w-32 before:rounded-br-sm before:bg-main;
  }
</style>
