---
import type { BlogEntry } from '@content/config'
import type { Page } from 'astro'
import { Icon } from 'astro-icon/components'

type Props = {
  page: Page<BlogEntry>
}

const { page } = Astro.props
---

<section class="flex items-center justify-between p-8">
  <div>
    {
      page.url.prev ? (
        <a class="page-link pr-3" href={page.url.prev} aria-label="Previous page">
          <Icon name="arrow-left-s-line" class="-mt-2" /> prev
        </a>
      ) : null
    }
  </div>
  <div></div>
  <div>
    {
      page.url.next ? (
        <a class="page-link pl-3" href={page.url.next} aria-label="Next page">
          next <Icon name="arrow-right-s-line" class="-mt-2" />
        </a>
      ) : null
    }
  </div>
</section>

<style>
  .page-link {
    @apply hover:animate-flashBtn flex items-center rounded-sm pt-2 font-texture text-4xl text-main;
  }
</style>
