---
import type { BlogEntry } from '@content/config'
import ToArchive from './ToArchive.astro'
import PostItem from './PostItem.astro'

type Props = {
  list: BlogEntry[]
  home?: boolean
  category?: string
}

const { list, home = false, category = '' } = Astro.props

// slice items when the count is more than 10.
const isMax = list.length > 10
const _list = home && isMax ? list.slice(0, 10) : list
---

<section class="mx-auto my-8 max-w-3xl" aria-label="Article List">
  {_list.map(post => <PostItem post={post} showPin={home} />)}

  {isMax && <ToArchive tag={category} />}
</section>
