---
import type { Tag } from '@model/tag'

type Props = {
  list?: Tag[]
}

const { list = [] } = Astro.props
---

{
  list.length && (
    <>
      <div class="mb-2 mt-4 border-b border-gray-200" />
      <div class="w-fit flex gap-x-1 text-sm opacity-30 hover:opacity-100 transition-opacity">
        {list.map(item => (
          <a
            href={`/archive/tags/${item.id}`}
            class="rounded-sm px-1 text-main hover:animate-flashBtn"
            aria-label="article tag"
          >{`#${item.title}`}</a>
        ))}
      </div>
    </>
  )
}
