---
import '../style/content.css'
import type { ReadTimeResults } from 'reading-time'
import type { BlogEntry } from '@content/config'
import type { PostMeta as TPostMeta } from '@model/post-meta'
import { SITE_DESCRIPTION, SITE_TITLE } from '@constant/app'
import Header from '@component/Header.astro'
import PostMeta from '@component/PostMeta.astro'
import Page from './Page.astro'
import MainLayout from '../layout/Main.astro'

type Props = Omit<BlogEntry, 'id'> & {
  id: string
  readingTime: ReadTimeResults
}

const { id, data, readingTime } = Astro.props

const postMeta: TPostMeta = {
  ...data,
  readingTime,
  id,
  tags: data.tags || [],
  date: (data.date || data.pubDate)!,
}

const title = `${data.title} · ${SITE_TITLE} `
---

<Page title={title} description={data.description || SITE_DESCRIPTION}>
  <Header />
  <MainLayout>
    <article class="pt-32" aria-label="Article Detail">
      <PostMeta meta={postMeta} />
      <div class="flex justify-center">
        <div class="content prose-base max-w-3xl py-6 font-bodytext" aria-label="Article Content">
          <slot />
        </div>
      </div>
    </article>
  </MainLayout>
</Page>
