---
import '../style/content.css'
import type { CollectionEntry } from 'astro:content'
import Header from '../view/svelte/Header.svelte'
import Page from './Page.astro'
import MainLayout from '../layout/Main.astro'
import PostMeta from '@component/svelte/Post/PostMeta.svelte'
import type { PostMeta as TPostMeta } from '@model/post-meta'

type Props = CollectionEntry<'blog'>

const { id, data } = Astro.props

const postMeta: TPostMeta = {
  ...data,
  id,
  tags: data.tags || [],
  date: (data.date || data.pubDate)!,
}
---

<Page title={data.title} description={data.description || ''}>
  <Header />
  <MainLayout>
    <article class="pt-32">
      <PostMeta meta={postMeta} />
      <div class="flex justify-center">
        <div class="prose-lg font-bodytext max-w-3xl content">
          <slot />
        </div>
      </div>
    </article>
  </MainLayout>
</Page>
