---
import MainLayout from '../layout/Main.astro'

import BaseHead from '../component/BaseHead.astro'
import PageHeader from '../component/PageHeader.astro'
import Header from '../component/Header.astro'
import Footer from '../component/Footer.astro'

import { SITE_TITLE } from '@constant/app'

type Props = {
  description: string
}

const { description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={description} />
  </head>
  <body>
    <PageHeader />
    <Header />
    <MainLayout>
      <slot />
    </MainLayout>
    <Footer />
  </body>
</html>
