---
import Footer from '@component/Footer.astro'
import BaseHead from '../component/BaseHead.astro'
import PageHeader from '../component/PageHeader.astro'

type Props = {
  title: string
  description: string
  keywords?: string[]
  image?: string
}

const { title, description, keywords, image } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} keywords={keywords} image={image} />
  </head>
  <body>
    <PageHeader />
    <slot />
    <Footer />
  </body>
</html>
